*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Michroma', sans-serif;
}
header{
    display: flex;
    height: 70px;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
img {
    height: 70px;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    padding-right: 15px;  
}
nav a:hover {
        color: white
}
.contenedor1{
    display: flex;
    margin-top: 5px;
    flex-direction: row-reverse;
    height: 350px;
    margin-top: 5px;
}
.main__img{
    height: 350px;
    width: auto;
}
.class__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-size: 15px;
    height: auto;
    background-color:#2d3436;
    color: honeydew;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.cuotas {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    height: 350px;
    width: auto;
    justify-content:center;
    text-align: center;
    margin: 10px;
}
.cuotasjpg {
    height: 350px;
    width: auto;
    margin-right: 10px;
}
.cuotastext{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-size: 15px;
    height: auto;
    background-color:#2d3436;
    color: honeydew;
    font-weight: bold;
    align-items: center;
    justify-content:center;
    padding: 15px;
}
footer{
    display: flex;
    justify-content:left;
    height: 50px;
    background-color: black;
    color: ghostwhite;
    align-items:flex-start ;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
footer img{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
    