*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Michroma', sans-serif;
}
header
{
    display: flex;
    height: 70px;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
img {
    height: 70px;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
    padding-right: 15px;  
}
nav a:hover {
    color: white
}
section{
    background-color:#2d3436 ;
}
h1{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}
p{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;  
}
.image-gall{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
}

.image-gall img{
    height: 400px;
    width: 600px;
    align-items: center;
    margin: 5px;
    border: 2px white solid;

}
footer{
   display: flex;
   justify-content:left;
   height: 50px;
   background-color: black;
   color: ghostwhite;
   align-items:flex-start ;
   padding: 5px;
   text-align: center;
   font-size: 10px;
}
    

